<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Galería de imagenes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-slides pager="true">
      <ion-slide *ngFor="let photo of photos">
        <ion-card>
          <img [src]="photo.url" />
          <ion-card-header>
            <ion-card-title>{{photo.name}}</ion-card-title>
            <ion-card-content>{{photo.description}}</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
